# @package _global_
defaults:
  - _seg_default@model


data:
  imageside: 1024
  imagesize: 1024
  min_overlap: 0.8

model:
  net:
    _target_: src.models.components.ISDnet.ISDNet_model
    deep_backbone: resnet18
    deep_pretrained_path: null

    ASPP_head:
      _target_: src.models.components.ISDnet.RefineASPPHead
      in_channels: 512 #ResNet18
      num_classes: ${model.net.num_classes}
      dilations: [1, 12, 24, 36]
      dropout: 0.1
      channels: 128
      conv_cfg: null
      norm_cfg: 'SyncBN'
      act_cfg: null
      align_corners: false

    ISDHead:
      _target_: src.models.components.ISDnet.ISDHead
      in_channels: ${model.net.num_channels}
      prev_channels: 128
      down_ratio: 4
      channels: 128
      num_classes: ${model.net.num_classes}
      dropout_ratio: 0.1
      norm_cfg: 'SyncBN'
      index_to_ignore: ${data.index_to_ignore}


    l_deep_segmentation: 1.0
    l_reconstruction: 0.1
    l_distillation: 1.0
